# heading1
## heading2
### heading3
#### heading4
##### heading 5
###### heading 6

### python

In [1]:
print("jntuacea")

jntuacea

In [2]:
a=10
b=23
print(a+b)

33

In [3]:
a=3
b=4
print(a*b)

12

In [4]:
a=4
q=4
print(a-q)

0

In [7]:
a
print(a)

4

In [9]:
a=4.4454512345
b=2.3456612345
print(a+b)

6.791112469

In [10]:
a="44"
type(a)

str

# sequence

In [11]:
a=9
type(a)

int

In [12]:
a=[1,4,7,2,5,8]
type(a)

list

In [18]:
c=(1,2,3,4,5,2)
type(b)

tuple

In [19]:
a=23
b=32
print(b/a)

1.391304347826087

# dictionary

In [23]:
d = {1: "sam",2:"sameer",3:"semu"}
print(d)

{1: 'sam', 2: 'sameer', 3: 'semu'}

In [31]:
print(d[1])

sam

# set

In [34]:
s = (1,2,4,5,6,8)
print(s)

(1, 2, 4, 5, 6, 8)

In [35]:
print(s[0])

1

In [36]:
print(s[1])

2

In [37]:
s = (1,2,5,)
g = (2,5,4)
print(s,g)

(1, 2, 5) (2, 5, 4)

In [38]:
print(g[0])

2

In [39]:
print(s[2])

5

In [40]:
x=(1,2)
print(x)

(1, 2)

In [48]:
s = {1,2,5,4,5}
print(s)

{1, 2, 4, 5}

In [50]:
a=20
b=2
print(a//b)

10

In [54]:
a=3
q=4
print(a**q)

81

In [55]:
a=20
q=10
print(a%q)

0

In [56]:
a=344
q=33
print(a%q)

14